* {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

header {
  font-size: 10px;
  color: #6070ff;
  margin: 0;
  justify-content: space-between;
  display: flex;
  padding: 10px 40px;
}

.logo a {
  display: grid;
  place-items: center;
  padding-top: 20px;
  text-decoration: none;
}

.fa-solid {
  color: blue;
  padding-top: 20px;
}

.section1 {
  background: url("img/mobile-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #172b4d;
  padding-top: 80px;
}

main {
  padding: 10px 40px;
}

main h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

main p {
  font-weight: 400;
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
}

#foot {
  color: #7f8cff;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  font-style: normal;
}

.socials {
  margin: 0;
  color: #344563;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* work section */
.Work section {
  margin-top: 5em;
  background-color: #f7f7f9;
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 6em 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card h1 {
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0;
}

.exp {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.exp h3 {
  color: #344563;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.exp img {
  width: 2%;
  height: 25%;
  margin-top: 20px;
  display: flex;
}

.bullet {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

.par {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.programming {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  align-items: flex-end;
  padding-left: 0;
  margin-top: 0;
}

.programming > li {
  background-color: #ebebff;
  padding: 4px 12px;
  border: none;
  border-radius: 15px;
  color: #6070ff;
  font-size: 12px;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
  flex-basis: auto;
  width: 40%;
  color: #396df2;
  font-size: 17px;
  border: 1px solid #396df2;
  border-radius: 10px;
  padding: 12px 8px;
  background-color: #fff;
}

.about {
  padding: 10px 40px;
}

.about h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.about p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex-direction: row;
}

.soc {
  color: gray;
  margin: 0;
}

.bton {
  margin: 40px;
}

.language {
  margin-top: 30px;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.language h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 24px;
}

.list {
  display: grid;
  flex-direction: row;
}

.lan {
  background: #f7f7f9;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 0;
}

.lan p {
  color: #253858;
  margin-left: 50px;
}

.title {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.lan img {
  margin-top: 10px;
}

.fwork {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 30px;
}

.fwork img {
  width: 6%;
  height: 6%;
  margin-left: auto;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px solid #dfe1e6;
  border-bottom: 2px solid #dfe1e6;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 30px;
}

.skills img {
  width: 6%;
  height: 6%;
  margin-left: auto;
}
