* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 400px;
}

header {
  font-size: 10px;
  color: #6070ff;
  margin: 0;
  justify-content: space-between;
  display: flex;
}

nav {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}

main {
  width: 375px;
  height: 50%;
  position: relative;
  top: 10%;
  left: 8%;
  background: url("img/Header.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

main h1 {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

p {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
}

#foot {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
}
